<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>회사소개</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>
<body>


<%include include/nav.ejs %>

<div id="fh5co-about-section">
	<div class="container">

		<div class="fh5co-heading animate-box">
			<h2 class="ubar">회사소개</h2>
		</div>

		<div class="about-content">
			<div class="col-md-5 animate-box">
				<div class="overview">
					<h3 class="mb30"><b>HISTORY</b></h3>
					<dl>
						<dt>2007</dt>
						<dd>라이트웨이브 설립</dd>
						<dd><u>㈜</u>모든오일 파트너 체결</dd>
						<dd><u>㈜</u>JTMOTORS 설립</dd>
					</dl>
					<dl>
						<dt>2011</dt>
						<dd>푸조공식서비스센터 파트너선정</dd>
					</dl>
					<dl>
						<dt>2012</dt>
						<dd><u>㈜</u>JT-PARTS 부품공급 계열사 설립</dd>
					</dl>
					<dl>
						<dt>2014</dt>
						<dd>SK NETWORKS 파트 공급 계약체결</dd>
						<dd>벤츠스마트 공식서비스센터 선정</dd>
						<dd>시트로앵 공식서비스센터 선정</dd>
					</dl>
					<dl>
						<dt>2015</dt>
						<dd>AJU AUTOPARTS 파트 공급 계약체결</dd>
						<dd><u>㈜</u>JT-LAB 서비스/솔루션 계열사 설립</dd>
						<dd>ASSISTPRO 서비스사업모델 개발</dd>
					</dl>
					<dl>
						<dt>2016</dt>
						<dd>상지영서대학교 산학협력 체결</dd>
						<dd>세경대학교 산학협력 체결</dd>
						<dd>여주대학교 산학협력 체결</dd>
						<dd>삼성화재 수입차부품공급 계약체결</dd>
						<dd>현대해상 수입차부품공급 계약체결</dd>
						<dd>동부화재 수입차부품공급 계약체결</dd>
					</dl>
					<dl>
						<dt>2017</dt>
						<dd>ASSISTPRO 서비스사업런칭</dd>
						<dd>어플리케이션센터 개발</dd>
						<dd>디자인/솔루션업체 하이비즈넷 파트너쉽계약체결 </dd>
						<dd>JT-PARTS 부품거래솔루션 개발</dd>
						<dd>JT그룹 신사옥 부지선정</dd>
					</dl>
				</div>
			</div>

			<div class="col-md-7 col-md-pull-0 animate-box">
				<div class="desc">
					<h3><b>GREETINGS</b></h3>
					<p>2007년 설립한 LIGHTWAVE는 수입차 자료 및 경험에 가장 많은 노하우를 보유한 국내 최대 수입차 정비 업체 였습니다.
						LIGHTWAVE는 2015년도에 사업분야를 확장하여
						포탈 정비서비스 및 수리정보와 부품의 최상의 조합을 제공한다는 취지로 Jitaek.Im에 의해 <u>㈜</u>JTCOMPANY를 설립하고 그 계열사로 <u>㈜</u>JTPARTS, <u>㈜</u>JTMOTORS 그리고 <u>㈜</u>JTLAB 의 계열사를 신설하게 됩니다.<br/><br/>


						강원도 원주에 본사를 두고 있는 JT-LAB은 기술지원 전문가들로 구성된 팀과 서비스지원 정보센터로 구성되어 있으며 온라인을 통하여 일반업체에 제공되지 않는 오리지널 수리정보를 얻을수 있도록 개별요청에 따른 서비스를 제공합니다.<br/>
						이는 차량 제조업체에 소속되지 않은 개인업체들의 수리정보에대한 요구를 충족 시켜주기 위한 국내최초의 서비스사업으로 수입자동차 정비 개인업체들의 오랜 고충을 해결해 줄 수 있을거란 기대를 하고 있습니다.<br/><br/>

						2017년 JT-LAB은 사업을 전국으로 확대하여 업계의 선두주자로 주목받고 있습니다.<br/>

						우리는 고객을 이해하고 솔루션을 제공함으로써 업계를 리드합니다. 우리의 제품이 고객의 업체의 순익에 긍적적인 영향을 미친다는 자부심을 가지고 있으며 기술자와 업체의 의견에 귀를 기울입니다.<br/><br/>

						우리는 귀하의 사업을 이해하고 귀사가 성공하고 고객이 번창하도록 돕습니다. 한 사람 한 사람의 의견을 존중하며 고객의 비즈니스 성과를 향상시키는 오퍼링을 만들기 위해 계속 노력하겠습니다.<br/>
					</p>

					<div class="sign">
						<dl class="sign01">
							<dt>대표 임 지 택 (President, Ji Taek Im)</dt>
							<dd>JT그룹(이하)대표이사</dd>
							<dd><u>㈜</u>JTCOMPANY, <u>㈜</u>JT-PARTS, <u>㈜</u>JTMOTORS, <u>㈜</u>JT-LAB</dd>
						</dl>
						<dl class="sign02">
							<dt>JT-LAB 대표 황 경 록 (CEO, Kyoung Rok Hwang)</dt>
							<dd>JT-LAB 대표</dd>
							<dd><u>㈜</u>JT-LAB</dd>
						</dl>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>


<% include include/footer.ejs %>


<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="js/main.js"></script>

</body>
</html>
