<!DOCTYPE HTML>
<html lang="ko">
<head>cale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>고객센터</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-s

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/js/respond.min.js"></script>
	<![endif]-->

</head>
<body>

<% include include/nav %>


<!----- FAQ /// 1:1문의  시작  ----->
<div id="fh5co-faqs" data-section="faqs">
	<div class="container">

		<!--고객센터 타이틀 시작 -->
		<div class="fh5co-heading animate-box">
			<h2 class="ubar">고객센터</h2>
			<p class="submenu">
				<a href="/ascenter" class="btn btn-subm">자료실</a>
				<a href="/ascenter/inquire" class="btn btn-subm active">1:1문의하기</a>
				<a href="/ascenter/fnq" class="btn btn-subm">자주하는질문</a>
				<a href="tel:1644-0495" class="btn btn-subm dispmo">바로전화</a>
			</p>
		</div>

		<!--고객센터 타이틀 end -->




		<!--1:1문의하기 시작--->

		<div class="col-md-12 animate-box">
			<h3>1:1문의하기</h3>
			<form id="frm" name="frm">
				<input type="hidden" id="usrNo" name="usrNo" value="<%=session.usrNo !=null ? session.usrNo : ""%>"/>
				<div class="row form-group">
					<div class="col-md-12">
						<!-- <label for="name">이름</label> -->
						<input type="text" id="name" name="name" class="form-control" maxlength="40" placeholder="이름 또는 업체명" value="<%=session.usrName !=null ? session.usrName : ""%>">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<!-- <label for="email">이메일주소</label> -->
						<input type="text" id="email" id="email" class="form-control" maxlength="80" placeholder="이메일주소(입력하신 이메일주소로 회신이 갑니다)">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<!-- <label for="email">전화번호</label> -->
						<input type="text" id="telNo" name="telNo" class="form-control" maxlength="13" placeholder="전화번호를 -를 포함하여 입력 해 주세요 (예: 010-1234-5432)">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<!-- <label for="subject">제목</label> -->
						<input type="text" id="title" name="title" class="form-control" maxlength="80" placeholder="제목">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<!-- <label for="message">문의내용</label> -->
						<textarea name="message" id="content" name="content" cols="30" rows="10" maxlength="2000" class="form-control" placeholder="문의내용"></textarea>
					</div>
				</div>
				<div class="form-group text-center">
					<input type="button" id="submitBtn" value="전송하기" class="btn btnwide btn-warning mt10">
				</div>

			</form>
		</div><!--1:1문의하기 끝--->


		<!--faq 자주하는질문 -->
<!--
		<div class="col-md-12 mmt50 pull-right animate-box">

			<h3>FAQ 자주하는질문</h3>
			<div class="faq-accordion to-animate active">
				<span class="faq-accordion-icon-toggle"><i class="icon-arrow-down"></i></span>
				<h3><span class="strong3 mr10">Q</span>문의가능한 전화번호/메일주소/팩스번호와 서비스 구매 시 안내되는 계좌번호가 궁금합니다.</h3>
				<div class="faq-body"style="display: block;">
					<p>고객센터: <a href="tel:1644-0495" class="black strong3">1644-0495</a>  이메일주소: <a href="mailto:center@jt-lab.co.kr" class="black">center@jt-lab.co.kr</a>  팩스번호: <span class="black">033-763-9719</span><br/>고객센터는 월-금요일은 9시~19시, 토요일은 9시~15시까지 운영됩니다.<br/><br/>JT-LAB의 서비스/솔루션 구매 시 안내되는 계좌정보는 아래와 같습니다.<br/>입금계좌번호: <span class="black">농협 302-9992-3210-21</span><br/>예금주명: <span class="black">황경록(제이티랩(JTLAB))</span></p>
				</div>
			</div>


			<div class="faq-accordion to-animate">
				<span class="faq-accordion-icon-toggle"><i class="icon-arrow-down"></i></span>
				<h3><span class="strong3 mr10">Q</span>확장자가 .aspdf으로 된 파일은 무엇입니까?</h3>
				<div class="faq-body">
					<p>어시스트 프로의 응답 PDF 포맷입니다.<br/>이 파일은 JTLAB 의 지적재산권 보호를 위해 128bit 암호화 처리가 되어 있으며,
						파일을 열기 위해서는 'Assist Pro Data Viewer' 프로그램을 설치합니다.<br/>'Assist Pro Data Viewer' 는 JT-LAB 의 AppCenter 프로그램을 설치한 뒤 App 검색 버튼을 클릭하면 설치할 수 있습니다.<br/><br/><a href="/api/install/appcenter/install.htm" target="_blank" class="btn btn-warning btn-small open-popup-link">JT-LAB AppCenter 설치 바로가기</a></p>
				</div>
			</div>


		</div>
//-->
		<!--faq 자주하는질문 end-->



	</div>
</div><!----- FAQ  //// 1:1문의 end  ----->





<% include include/footer %>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- countTo -->
<script src="/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="/js/main.js"></script>
<!-- ckeditor -->
<script src="/ckeditor/ckeditor.js"></script>
<!-- script -->
<script type="text/javascript">
	var emailRegExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
	var telNoRegExp = /^\d{2,3}-\d{3,4}-\d{4}$/;
	$(document).ready(function() {

		// CKEditor 설정.
		CKEDITOR.replace("content", {
			toolbar : "Basic"
		});

		// 전송 버튼 이벤트 처리.
		$("#submitBtn").on("click", function(e) {
			e.preventDefault();

			var guestNm = $.trim($("#name").val());
			var guestUsrNo = $.trim($("#usrNo").val());
			var guestEmail = $.trim($("#email").val());
			var guestTelNo = $.trim($("#telNo").val());
			var guestTitle = $.trim($("#title").val());
			var guestContent = $.trim(CKEDITOR.instances.content.getData());

			if(guestNm=="") {
				alert("이름 또는 업체명을 입력하세요");
				$("#name").focus();
				return false;
			}
			if(guestEmail=="") {
				alert("이메일을 입력하세요");
				$("#email").focus();
				return false;
			}
			if(guestTelNo=="") {
				alert("연락처를 입력하세요");
				$("#telNo").focus();
				return false;
			}
			if(guestTitle=="") {
				alert("제목을 입력하세요");
				$("#title").focus();
				return false;
			}
			if(guestContent=="") {
				alert("문의 내용을 입력하세요");
				$("#content").focus();
				return false;
			}
			// Validation 체크.
			if(!emailRegExp.test(guestEmail)) {
				alert("올바른 이메일 형식이 아닙니다.\n확인하시고 다시 입력하세요");
				("#email").focus();
				return false;
			}
			if(!telNoRegExp.test(guestTelNo)) {
				alert("올바른 전화 형식이 아닙니다.\n확인하시고 다시 입력하세요.");
				$("#telNo").focus();
				return false;
			}

			var dataVals = {
				'name' : guestNm,
				'usrNo' : guestUsrNo,
				'email' : guestEmail,
				'telNo' : guestTelNo,
				'title' : guestTitle,
				'content' : guestContent
			};
			// 전송 처리.
			$.ajax({
				url: "/ascenter/insert",
				type: "post",
				dataType: "json",
				data: dataVals,
				success: function (data) {
					console.log(">>> data = " + data.result);
					if(data.result=="OK") {
						alert("전송처리하였습니다.");
						$("form")[0].reset();
						CKEDITOR.instances.content.setData("");
					}
				},
				error: function (err) {
					alert("errCode : " + err.message);
				}
			});

		});
	});
</script>

</body>
</html>