<%
// 콤마 붙이기
function fnComma(num) {
    var reg = /(^[+-]?\d+)(\d{3})/;
    num += '';
    while(reg.test(num)) {
        num = num.replace(reg, '$1' + ',' + '$2');
    }
    return num;
}
// 콤마 제거
function fnUnComma(num) {
    return (num.replace(/\,/g,""));
}
%>
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <title>마이 서비스 조회 화면.</title>
    <link rel="stylesheet" href="/css/join.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- Magnific Popup -->
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/js/magnific-popup-options.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // 닫기 버튼 이벤트 처리.
           $("#closeBtn").on("click",function(e) {
               e.preventDefault();
               if(window.parent == window.top) {
                   window.parent.$.magnificPopup.close();
               }
           });
        });
    </script>
</head>
<!--팝업창크기는 css/magnific-popup.css에 mfp-iframe-scaler2 클래스에 지정되어있음-->
<body>

<div id="content">
    <form id="frm" name="frm">
        <div id="join">
            <h1 class="tit-join">상세 조회</h1>

            <!-- 일반회원 기본 노출 -->
            <!--////---서비스이용내역 시작///////-->
            <table border="0" cellspacing="0" width="100%" class="table_style11">
                <tr>
                    <th>상품/서비스번호</th>
                    <th>상품/서비스명</th>
                    <th>서비스구분</th>
                    <th>가격</th>
                </tr>
<%
    if(rList.length > 0) {
        rList.forEach(function(item, index) {
%>
                <tr>
                    <td><%=item.pCode%></td>
                    <td><%=item.pNm%></td>
                    <td><%=item.pDivNm%></td>
                    <td><%=fnComma(item.pPrice)%></td>
                </tr>
<%
            })
        } else {
%>
                <tr>
                    <td colspan="12" style="text-align: center;">
                        No Data
                    </td>
                </tr>
<%
        }
%>
            </table>
            <!--////---서비스이용내역 끝///////-->

            <div class="btn-area">
                <a id="closeBtn" href="#" class="mfp-close">닫기</a>
            </div>
        </div>
    </form>
    </div><!-- #join -->
</body>
</html>