
<div id="fh5co-started">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-footer">
				<h2>어시스트프로(ASSIST PRO)</h2>
				<p>수입차 정비 진단지원 솔루션</p>
				 <a href="http://www.assistpro.co.kr/" class="btn btn-warning lineh40" target="_blank">어시스트프로 바로가기</a>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="sponsors">
		<div class="host">
			<h3>Hosted By</h3>
			<ul class="host_list">
				<li><a href="#"><img src="/images/logo/logo-jt-company-darkback.png" style="opacity: 1"></a></li>
			</ul>
		</div>

		<div class="host">
			<h3>SPONSED BY</h3>
			<ul class="host_list">
				<li><a href="#"><img src="/images/spon/client_1.png"></a></li>
				<li><a href="#"><img src="/images/spon/client_2.png"></a></li>
				<li><a href="#"><img src="/images/spon/client_3.png"></a></li>
				<li><a href="#"><img src="/images/spon/client_4.png"></a></li>
				<li><a href="#"><img src="/images/spon/client_5.png"></a></li>
				<li><a href="#"><img src="/images/spon/client_6.png"></a></li>
				<li><a href="#"><img src="/images/spon/client_7.png"></a></li>
				<li><a href="#"><img src="/images/spon/client_8.png"></a></li>
				<li><a href="#"><img src="/images/spon/client_9.png"></a></li>
			</ul>
		</div>
	</div><!--sponsors-->




	<div class="group">
		<div class="info">
			<h3>JT-LAB</h3>
			<ul class="infodetail">
				<!--<li><address>강원도 원주시 매봉길 48-6(48-6, Maebong-gil, Wonju-si, Gangwon-do, South of Korea)</address></li>-->
				<li>대표번호 연결: <a href="tel:1644-0495">1644-0495</a></li>
				<li>입금계좌번호: 농협 302-9992-3210-21</li>
				<li>예금주명: 황경록(제이티랩(JTLAB))</li>
			</ul>
		</div>

		<div class="info">
			<h3>고객센터</h3>
			<ul class="infodetail">
				<li>월-토(9:00~19:00), 토(15시까지)</li>
				<li><a href="tel:1644-0495">Tel: 1644-0495</a></li>
				<li>Fax: 033-763-9719</li>
				<li>E-mail: <a href="mailto:center@jt-lab.co.kr">center@jt-lab.co.kr</a></li>
			</ul>
		</div>

		<div class="info">
			<h3>상호명: 제이티랩(JTLAB)</h3>
			<ul class="infodetail">
				<li>대표자: 황경록</li>
				<li>사업자 등록번호: 501-07-54390</li>
				<li>사업장주소: 강원도 원주시 판부면 매봉길 48-6, 3F</li>
				<li>통신판매업신고: 2017-강원원주-00231</li>
			</ul>
		</div>

		<div class="info">
			<ul class="infodetail">
				<li><!--농협 에스크로 이체 인증마크 적용 시작-->

					<script>
                        function onPopCertMar(key){
                            window.open('','self','height=700, width=900, status=yes, scrollbars=yes, toolbar=no, menubar=no, location=no');
                            document.CERTMARK_FORM.certMarkURLKey.value = key;
                            document.CERTMARK_FORM.action='https://escrow.nonghyup.com/?certMarkURLKey=' + key;
                            document.CERTMARK_FORM.target='self';
                            document.CERTMARK_FORM.submit();
                        }
                    </script>

                    <FORM name='CERTMARK_FORM' METHOD='POST'>
                        <input type="hidden" name="certMarkURLKey">
                    </FORM>
					<a href="javascript:onPopCertMar('49334eedfb793cc4d0199e24bee153d9')"><img src='/images/esk_001.gif' alt='에스크로이체로 결제하기' border='0'/></a>

					<!--농협 에스크로 이체 인증마크 적용 종료-->
				</li>
				<li><img src='/images/esk_002.gif' alt='공정거래위원회 한국표준약관사용' border='0' /></li>
				<li><img src='/images/esk_003.gif' alt='국세청현금영수증 가맹점' border='0' /></li>
			</ul>
		</div>



	</div><!--group-->

</div><!--footer-->

<!--
<footer id="footer-overlay" role="contentinfo">
	<div id="fh5co-footer">
		<div class="container">
			<div class="text-center row row-pb-md">
				<div class="col-md-2 col-sm-2 ">
					<h4><a href="/" class="green">JT-LAB</a></h4>

				</div>
				<div class="col-md-2 col-sm-2 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="/aboutus">회사소개</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-2 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="/products">서비스/솔루션</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-2 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="/purchase">구매안내</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-2 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="/ascenter">고객센터</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
					<ul class="fh5co-social-icons">
						<li><a href="tel:033761-8331"><i class="icon-phone"> 033-761-8331</i></a></li>
						<li><a href="mailto:center@jt-lab.co.kr"><i class="icon-mail2"> center@jt-lab.co.kr</i></a></li>
					</ul>
					</p>


					<p>
						<small class="block">&copy; 2016 JT-LAB. All Rights Reserved.</small>
						<small class="block">Designed by <a href="http://hibiznet.co.kr" target="_blank">HiBIZNET</a></small>
					</p>

				</div>
			</div>
		</div>

	</div>
</footer>-->
<script type="text/javascript">
	function aLink() {
		var openNewWindow = window.open("about:blank");
		openNewWindow.target = "_blank";
		openNewWindow.location.href = "http://www.assistpro.co.kr/";
	}
</script>