<!DOCTYPE html>
<html lang="ko">
<head>
    <title>에디터 테스트</title>
    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!--   Core JS Files   -->
    <script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <!-- form js -->
    <script src="/js/jquery.form.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // 초기 설정.
            CKEDITOR.replace("editText", {
                "filebrowserUploadUrl": "/common/ckedit/upload",
                "width" : "600",
                "height" : "300"
            });
            $("#uploadBtn").on("click", function(e) {
                e.preventDefault();
                // 대표 이미지 체크.
                if ($("#attchFile").val() == null || $("#attchFile").val() == "") {
                    alert("파일 선택하여 주세요.");
                    $("#attchFile").focus();
                    return false;
                } else {
                    //막기위해서는 return false를 잡아주면됨
                    var ext = $('#attchFile').val().split('.').pop().toLowerCase();
                    //console.log("ext = " + ext);
                    if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg', 'txt', 'xls', 'xlsx', 'doc', 'ppt', 'pdf']) == -1) {
                        alert('gif,png,jpg,jpeg, txt, xls, xlsx, doc, ppt 파일만 업로드 할수 있습니다.');
                        $("#attchFile").focus();
                        return false;
                    }
                }
                // 파일업로드 처리.
                $("#fileForm").ajaxForm();
                $("#fileForm").ajaxSubmit({
                    url: "/test/upload",
                    type: "post",
                    dataType: "json",
                    beforeSend: function () {
                        alert("파일업로드시작!");
                    },
                    success: function (data) {
                        console.log("data = " + JSON.stringify(data));
                        if (data.result == "OK") {
                            if (data.fileName != null && data.fileName != "") {
                                alert("파일전송완료 처리되었습니다.");
                            } else {
                                alert("첨부된 파일이 없습니다.\n관리자에게 문의하세요.");
                            }
                        }
                    },
                    error: function (request, status, error) {
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                });

            });

        });
    </script>
</head>
<body>
<form id="fileForm" name="fileForm" method="post" enctype="multipart/form-data">
<div id="nav">
    <h1>테스터 에디터</h1>
</div>
<div id="content">
    <div>
        <div>에디터</div>
        <div><textarea id="editText" name="editText"></textarea></div>
    </div>
    <div>
        <div>파입업로드</div>
        <div><input type="file" id="attchFile" name="attchFile" value=""/><input type="button" id="uploadBtn" name="uploadBtn" value="업로드"/></div>
    </div>
</div>
<div id="footer`">
    푸터
</div>
</form>
</body>
</html>