<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
<div data-page="page">
    <div data-role="header" id="page1">
        <h1>JT-LAB AssistPRO</h1>
    </div>
    <div date-role="content">
        <!--
        <ul id="listView" data-role="listview" data-insert="false">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
        -->
        <div data-role="fieldcontain">
            <label for="theName">아이디:</label>
            <input type="text" id="userId" name="userId" value="" />
            <label for="theName">패스워드:</label>
            <input type="text" id="userPwd" name="userPwd" value="" />
            <input type="button" id="submitBtn" name="submitBtn" value="전송"/>
        </div>
    </div>
    <div data-role="footer">
        <h6>JT-LAB</h6>
    </div>
</div>
</body>
</html>