<!DOCTYPE html>
<html lang="ko">
<head>
    <title>에디터 테스트</title>
    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!--   Core JS Files   -->
    <script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<div id="nav">
    <h1>테스터</h1>
</div>
<div id="content">
    환영합니다!
    <%
        if(session.users !=null) {
            console.log(">>> session.users : ", session.users);
    %>
    환영합니다! <%=session.users.usrName%> 님  <a href="/test/logout">로그아웃-</a>
    <%
        } else {
     %>
        로그인 해주세요!
    <%
        }
    %>
</div>
<div id="footer`">
    푸터
</div>
</body>
</html>